
        #nav-div {
            background-color:#ffffff;
            display: flex;
            justify-content: space-around;
            align-items: center;
         padding: 10px;
            color:black;
        }
        span{
            font-family:syne;
font-size: 30px;
font-weight: 800;
line-height: 24px;
text-align: left;

        }
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            cursor: pointer;
            margin: 0px 10px;
        }
            #introduction{
                display: block;
                text-align: center;
                margin-top:30px;
                margin-bottom:90px;
                gap:10px
            }
            .p1{
                line-height: 20px;
                font-family: syne;
                font-weight: 400;
                font-size:20px;
                background-color: white;
                display: block;
                /* margin-bottom: 0px; */
            }
            .p2{font-size: 20px;
                font-family: syne;
                font-weight: bolder;
                display: inline-block;
                width:420px;
                height: 100px;
                margin-top:0px;
                line-height: 1.5;
            }
            #about-container{
                display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
            }
            .about-wrapper{
                display: flex;
                flex-direction: row;
            
            }
            .pablo-image{
                height:170px;
                width:auto;
                margin-right:20px
            
            }
            .about-paragraph{
                width: 80%;
                max-width: 350px;
                font-family: syne;
                font-size: 14px;
                line-height: 1.5;
                font-weight: bold;
                /* margin-top: 10px; */
                text-align: left;
            }
        .p3{
            margin:0px;
            padding:0px;
        }