
        #nav-div {
            background-color:#ffffff;
            display: flex;
            justify-content: space-around;
            align-items: center;
         padding: 10px;
            color:black;
        }
        span{
            font-family:syne;
font-size: 30px;
font-weight: 800;
line-height: 24px;
text-align: left;

        }
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            cursor: pointer;
            margin: 0px 10px;
        }
            #introduction{
                display: block;
                text-align: center;
                margin:20px
            }
            .p1{
                line-height: 20px;
                font-family: syne;
                font-weight: 400;
                font-size:20px;
                background-color: white;
                display: block;
                /* margin-bottom: 0px; */
            }
            .p2{font-size: 20px;
                font-family: syne;
                font-weight: bolder;
                display: inline-block;
                width:420px;
                height: 100px;
                margin-top:0px;
                line-height: 1.5;
            }
            #about-container{
                display: block;
                text-align: center;
            }
            #about{
                /* display: inline-flex; */
                /* align-content: center; */
                /* width: 100%; */
                /* background-color: red; */
            }
            .pablo-image{
                height:120px;
                width:auto
            }
            .about-paragraph{
                display: inline-block;
                width: 450px;
                font-family: syne;
                font-size: 14px;
                line-height: 1.5;
                font-weight: bold;
                margin-left: 10px;
                padding:0;
                /* background:blue; */
                text-align: left;
            }
            p{
                padding:0;
                margin:0
            }